<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrapcdn.css">
    <title>Sales Report</title>
</head>
<body>

<div class="alert alert-info header fixed-bottom position-absolute" role="alert">
    <span id="success-msg">Record Added</span>
</div>
<div class="jumbotro p-5 text-center mb-5" style="background-image: radial-gradient( circle farthest-corner at 24.1% 68.8%,  rgba(50,50,50,1) 0%, rgba(0,0,0,1) 99.4% );">
    <img src="../Resources/posters/text.png" class="position-absolute d-xl-block d-lg-block d-md-none d-sm-none d-xs-none d-none" style="max-width: 300px; left:0; margin-top: -15px;">
<!--    <h1 style="font-family:'Microsoft Sans Serif'; color:white;">Adarsh Enterprises</h1>-->
    <p style="font-family:'Microsoft Sans Serif'; font-size:40px; color:white;" align="center">Sales Report</p>

    <div class="controls">
<!--        <button id="backbtn" class="btn btn-dark float-left"><img src="../Resources/icons/back.png"></button>-->
        <button class="btn float-right" id="homebtnp" style="background-color: inherit;"><img src=""><img src="../Resources/icons/home.png"></button>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
        <div class="d-flex flex-wrap">
    <div class="card w-100 mb-3">
        <div class="card-header">
            Search
        </div>
        <div class="card-body">
            <input type="search" class="form-control m-2" id="searchServices" placeholder="Seach Customer" required>
        </div>
    </div>

    <div class="card w-100 mb-3">
        <div class="card-header">
            Stats
        </div>
        <div class="card-body">
            Total Sales
            <h2 id="statsSales"></h2>

        </div>
    </div>


    </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="table-responsive" style="max-height: 600px;">
    <table class="table">
        <thead class="thead-dark">
            <th>S.No</th>
            <th>Date</th>
            <th>Invoice No.</th>
            <th>Customer</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Bill Amount</th>
        </thead>
        <tbody style="font-weight:normal;">
        </tbody>
    </table>  
    </div>
    </div>
    </div>
    </div>
<script src="../bootstrap/js/jquery3.6.js"></script>
<script src="../bootstrap/jQuery.js"></script>
<script type="text/javascript" src="../bootstrap/js/popper.js"></script>
<script src="../bootstrap/js/salesReport.js"></script>
</body>
</html>